@page
@model WebPropia31.Pages.Equipos.IndexModel
@{
    ViewData["Title"] = "Equipos";
}

<h1>Equipos</h1>
<div>
    <h4>Listado de equipos</h4>
    <a asp-page="nuevoEquipo" class="btn btn-primary">Afiliar equipo</a>
</div>

<div class="card-body">

    <form method="post">
        @if (Model.EquiposListados.Count() > 0)
        {

            // Mostramos los nombres de las columnas de la tabla
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.EquiposListados.First().IdEquipo)</th>
                    <th>@Html.DisplayNameFor(m => m.EquiposListados.First().Nombre)</th>
                    <th>@Html.DisplayNameFor(m => m.EquiposListados.First().Color)</th>
                    <th>@Html.DisplayNameFor(m => m.EquiposListados.First().Campeonatos)</th>
                    <th>Hola</th>
                </tr>

                @*Mostramos los valores de los campos*@
                @foreach (var item in Model.EquiposListados)
                {
                    <tr>
                        <td> @Html.DisplayFor(m => item.IdEquipo)</td>
                        <td> @Html.DisplayFor(m => item.Nombre)</td>
                        <td> @Html.DisplayFor(m => item.Color)</td>
                        <td> @Html.DisplayFor(m => item.Campeonatos)</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h1>Lista vacia</h1>
        }

    </form>
</div>
